<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Welcome!{% endblock %}</title>

		<link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet"/>
		<link href="{{ asset("css/style.css") }}" rel="stylesheet"/>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="{{ path('product_index') }}">Flowershop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('product_index') }}">Home <span class="sr-only">(current)</span></a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('inventory_index') }}">Inventory <span class="sr-only">(current)</span></a>
						</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<li class="nav-item">
							{% for cart in app.user.carts  %}
								{% if cart.isActive == true %}
									<a class="nav-link" href="{{ path('cart_index', {'id': cart.id}) }}">
										<i class="fa fa-shopping-cart"></i>
										{% if cart.items|length > 0 %}
											<span class="badge badge-pill badge-danger"> {{ cart.items|length }} </span>
										{% endif %}
									</a>
								{% endif %}
							{% endfor %}
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('fos_user_registration_register') }}">Sign Up</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		
		<div class="content">
			<div class="container-fluid">
				{% block body %}{% endblock %}
			</div>
		</div>

		<script src="{{ asset("js/jquery.min.js") }}"></script>
		<script src="{{ asset("js/bootstrap.min.js") }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
