{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-4 mx-auto r-panel">
			<div class="r-panel-header p-sm">
				<h2>Add Stocks</h2>
			</div>

			<div class="r-panel-body container-fluid"> 
				{{ form_start(form, {'attr': {'class': 'row align-left m-t-md'}}) }}
					<div class="col-md-12 form-group">
						<label>Product: </label>
						<p>{{ product.name }}</p>
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(form.quantity) }}
						{{ form_widget(form.quantity, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(form.quantity) }}
					</div>
					<div class="col-md-6 form-group">
						<button class="btn btn-primary btn-block" type="submit">Add</button>
					</div>
					<div class="col-md-6 form-group">
						<a class="btn btn-danger btn-block" href="{{ path('product_show', { 'id': product.id }) }}">Back</a>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
