{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-4 mx-auto r-panel">
			<div class="r-panel-header p-sm">
				<h2>Edit Product</h2>
			</div>
			<div class="r-panel-body container-fluid">
				{{ form_start(edit_form, {'attr': {'class': 'row align-left m-t-md'}}) }}
					<div class="col-md-12 form-group">
						{{ form_label(edit_form.name) }}
						{{ form_widget(edit_form.name, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(edit_form.name) }}
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(edit_form.description) }}
						{{ form_widget(edit_form.description, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(edit_form.description) }}
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(edit_form.price) }}
						{{ form_widget(edit_form.price, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(edit_form.price) }}
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(edit_form.image) }}
						{{ form_widget(edit_form.image, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(edit_form.image) }}
					</div>
					<div class="col-md-12 form-group">
						<button class="btn btn-primary btn-block" type="submit">Edit</button>
					</div>
					<div class="col-md-12 form-group">
						<a href="{{ path('product_show', { 'id': product.id }) }}" class="btn btn-block btn-danger">Cancel</a>
					</div>
				{{ form_end(edit_form) }}
			</div>
		</div>
	</div>
	
{% endblock %}
