{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-12 r-panel">
			<div class="r-panel-header p-sm">
				<h2>Product list</h2>
			</div>

			<div class="r-panel-body container-fluid">
				<div class="row product-list m-t-md">
					{% for product in products %}
						<div class="col-xs-2 col-md-3">
							<div class="product">
								<h5 class="p-sm">
									<a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a>
								</h5>
								<div style="overflow: hidden">
									<img src="{{ asset('uploads/images/' ~ product.image) }}">
								</div>
								<hr>
								<div class="product-details p-sm">
									<p class="product-description">{{ product.description }}</p>
									<h6 class="m-t-sm m-b-sm">Price: {{ product.price }}</h6>
									<h6 class="m-t-sm m-b-sm">Quantity Available: {{ product.inventory.quantity }}</h6>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="align-right p-i-l-md">
						<a class="btn btn-primary" href="{{ path('product_new') }}">Create a new product</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Success</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Product added to cart...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
