{% extends 'base.html.twig' %}

{% block title %}Product / New{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-4 mx-auto r-panel">
			<div class="r-panel-header p-sm">
				<h2>New Product</h2>
			</div>
			<div class="r-panel-body container-fluid">
				{{ form_start(form, {'attr': {'class': 'row align-left m-t-md'}}) }}
					<div class="col-md-12 form-group">
						{{ form_label(form.name) }}
						{{ form_widget(form.name, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(form.name) }}
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(form.description) }}
						{{ form_widget(form.description, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(form.description) }}
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(form.price) }}
						{{ form_widget(form.price, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(form.price) }}
					</div>
					<div class="col-md-12 form-group">
						{{ form_label(form.image) }}
						{{ form_widget(form.image, {'attr': {'class': 'form-box'}}) }}
						{{ form_errors(form.image) }}
					</div>
					<div class="col-md-12 form-group">
						<button class="btn btn-primary btn-block" type="submit">Create</button>
					</div>
					<div class="col-md-12 form-group">
						<a href="{{ path('product_index') }}" class="btn btn-block btn-danger">Cancel</a>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
