{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto r-panel">
			{% if product.image %}
				<div class="image-container2">
					<img src="{{ asset('uploads/images/' ~ product.image) }}">
				</div>
			{% endif %}
			<div class="r-panel-header p-sm">
				<a class="btn btn-danger btn-sm m-l-sm r-l-toolbox" href="{{ path('product_index') }}">
					<i class="fa fa-angle-left m-r-xs"></i> Back
				</a>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="btn-group m-r-sm r-r-toolbox">
						<button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-cog"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="{{ path('inventory_new', { 'id': product.id }) }}">Add stock</a>
							<a class="dropdown-item" href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
							{{ form_start(delete_form) }}
								<button class="dropdown-item" type="submit">Delete</button>
							{{ form_end(delete_form) }}
						</div>
					</div>
				{% endif %}
				<h3>{{ product.name }}</h3>
			</div>
			<div class="r-panel-body">
				<div class="p-md">
					<p>{{ product.description }}</p>
				</div>
				<div class="p-md align-right">
					<p class="inline m-r-md"><strong>Price: </strong>{{ product.price }}</p>
					<p class="inline"><strong>Available: </strong>{{ product.inventory ? product.inventory.quantity : '0' }}</p>
				</div>
			</div>
			<hr>
			<div class="r-panel-footer p-sm">
				{% if product.inventory.quantity > 0 %}
					<h6 class="inline p-sm">Add to cart</h6>
					{{ form_start(cart_item_form, {'action': path('cart_add_item', {'id': product.id}), 'method': 'POST', 'attr' : { 'class': 'form-inline float-right'}}) }}
						<div class="form-group mx-sm-3 mb-2">
							{{ form_widget(cart_item_form.quantity, {'attr': {'class': 'form-control', 'placeholder': 'Quantity'}}) }}
						</div>
						<button type="submit" class="btn btn-primary mb-2">
							<i class="fa fa-cart-arrow-down"></i>
						</button>
					{{ form_end(cart_item_form) }}			
				{% else %}
					<h4>Out of stock</h4>
				{% endif %}
			</div>
		</div>
	</div>
		
{% endblock %}
