{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-12 r-panel">
			<div class="p-md text-center">
				<h2>Cart Summary</h2>
			</div>

			<div class="r-panel-body container-fluid">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Product</th>
							<th scope="col">Quantity</th>
							<th scope="col">Price</th>
							<th scope="col">Total</th>
							<th scope="col">
							{% if cart.isActive %}
								Action
							{% endif %}
							</th>
						</tr>
					</thead>
					<tbody>
						{% set grandTotal = 0 %}
						{% if cart.items|length > 0 %}
							{% for item in cart.items %}
								<tr>
									<td>{{ item.product.name }}</td>
									<td>{{ item.quantity }}</td>
									<td>{{ item.product.price | number_format(2)}}</td>
									<td>{{ (item.quantity * item.product.price) | number_format(2) }}</td>
									<td>
									{% if cart.isActive %}
											<form action="{{ path('cart_remove_item', {'id': item.id}) }}" method="post">
												<button type="submit" class="btn btn-danger">Remove Item</button>
											</form>
										
									{% endif %}
									</td>
								</tr>
								{% set grandTotal = grandTotal + (item.quantity * item.product.price) %}
							{% endfor %}
							<tr>
								<td><strong>Total</strong></td>
								<td></td>
								<td></td>
								<td>{{ grandTotal | number_format(2)}}</td>
								<td></td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">No entries</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<div class="align-right p-i-r-md">
					{% if cart.isActive and cart.items | length > 0 %}
						<form action="{{ path('payment_new', {'id': cart.id}) }}" method="get">
							<button type="submit" class="btn btn-primary">Checkout</button>
						</form>
					{% endif %}
				</div>
			</div>

		</div>
	</div>
{% endblock body %}