{% extends 'base.html.twig' %}

{% block title %}Flowershop / Orders{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12 r-panel">
			<div class="p-md text-center">
				<h2>Orders</h2>
			</div>

            <div class="r-panel-body container-fluid">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Order #</th>
							<th scope="col">User</th>
							<th scope="col">Total</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
                        {% for cart in carts %}
                            <tr>
                                <td>
									<a href="{{ path('cart_index', {'id': cart.id}) }}">
										Cart #{{ cart.id }}
									</a>
								</td>
                                <td>{{ cart.user.firstName }} {{ cart.user.lastName }}</td>
								{% set total = 0 %}
								{% for item in cart.items %}
									{% set total = total + (item.quantity * item.product.price) %}
								{% endfor %}
                                <td>{{ total }}</td>
                                <td>
									<a class="btn btn-primary" href="{{ path('cart_index', {'id': cart.id}) }}">View</a>
								</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}