{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Stocks</h1>

    {{ form_start(form) }}
        <div>
            Product: {{ product.name }}
        </div>
        <div class="form-group">
			{{ form_label(form.quantity) }}
			{{ form_widget(form.quantity) }}
			{{ form_errors(form.quantity) }}
		</div>
        <button class="btn btn-primary" type="submit">Add</button>
    {{ form_end(form) }}
	<a class="btn btn-secondary"  href="{{ path('product_show', { 'id': product.id }) }}">Back</a>
{% endblock %}
